/*
USE [inf]
GO
If you prefer to not migrate the models 
to the database in .net you can create the database 
and run the following script to create the avarageCpi table.
CREATE TABLE [dbo].[avarageCpi] (
    [Year]   INT        NOT NULL,
    [AvgCpi] FLOAT (53) NULL,
    CONSTRAINT [PK_avarageCpi] PRIMARY KEY CLUSTERED ([Year] ASC)
);
GO
Run this script against the inf database after generating and running migrations in inflationAPI project.
Please back up your target database before running this script.
*/
SET NUMERIC_ROUNDABORT OFF
GO
SET XACT_ABORT, ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
/*Pointer used for text / image updates. This might not be needed, but is declared here just in case*/

DECLARE @pv binary(16)
BEGIN TRANSACTION
INSERT INTO [dbo].[avarageCpi] ([Year], [AvgCpi]) VALUES (1913, 9.9)
INSERT INTO [dbo].[avarageCpi] ([Year], [AvgCpi]) VALUES (1914, 10)
INSERT INTO [dbo].[avarageCpi] ([Year], [AvgCpi]) VALUES (1915, 10.1)
INSERT INTO [dbo].[avarageCpi] ([Year], [AvgCpi]) VALUES (1916, 10.9)
COMMIT TRANSACTION
